$icomoon-font-family: "icon-font" !default;
$icomoon-font-path: "/assets/fonts/fonts" !default;

// Simple icons
$icons: (
  logo: "\e90c",
  logo-t-f: "\e915",
  index-a: "\e90d",
  index-b: "\e90e",
  index-c: "\e90f",
  i-pen: "\e910",
  i-lock: "\e911",
  i-setting: "\e912",
  i-top: "\e913",
  i-usr: "\e914"
);
