<div class="alert-shade">
  <div class="alert-wrap alert-primary">
    <div class="content">
      <div class="alert-header clearfix">
        <h5 class="title pull-left">标题</h5>
        <ul class="ctrls pull-right clearfix">
          <li class="ctrl ctrl-sm pull-left"><a href="javascript: void(0);">-</a></li>
          <li class="ctrl ctrl-full pull-left"><a href="javascript: void(0);">□</a></li>
          <li class="ctrl ctrl-close pull-left"><a href="javascript: void(0);">×</a></li>
        </ul>
      </div>
      <div class="alert-body">
        内容
      </div>
      <div class="alert-footer">
        footer
      </div>
    </div>
  </div>
</div>
