@import "../../../scss/_variables";
@import "../../../scss/_mixins";

.btn-theme-wrap {
  position: relative;
  display: inline-block;
  border: 1px solid $gray-dark;
  @include border-box;
  @include transition(all, 300ms, ease-in);

  > .btn {
    @include transform(translate3d(-1rem, -1rem, 0));
    @include transition(all, 300ms, ease-in);
  }

  &:hover {
    border-color: map_get($theme-colors, pink);
    @include transition(all, 300ms, ease-in);
  }
}
