<footer class="footer-main">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-1 footer-item share">
        <h4 class="title">分享</h4>
        <ul class="content share-btns clearfix">
          <li class="pull-left"><a href="javascript: void(0);" class="icon weibo"></a></li>
          <li class="pull-left"><a href="javascript: void(0);" class="icon wechat"></a></li>
          <li class="pull-left"><a href="javascript: void(0);" class="icon qq"></a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-item explore">
        <h4 class="title">浏览</h4>
        <ul class="content links">
          <li><a href="javascript: void(0);" rel="nofollow">首页</a></li>
          <li><a href="javascript: void(0);" rel="nofollow">博客</a></li>
          <li><a href="javascript: void(0);" rel="nofollow">新闻</a></li>
          <li><a href="javascript: void(0);" rel="nofollow">联系</a></li>
          <li><a href="javascript: void(0);" rel="nofollow">关于</a></li>
          <li><a href="javascript: void(0);" rel="nofollow">我的账户</a></li>
          <li><a href="javascript: void(0);" rel="nofollow">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-item subscribe">
        <h4 class="title">订阅</h4>
        <div class="content inputs">
          <div class="input-group">
            <input type="email" name="email" class="form-control default" placeholder="请输入Email" autocomplete="off">
            <a href="javascript: void(0);" class="btn btn-default addon">立即订阅</a>
          </div>
          <p class="copy">&copy; {{ year }}.All right reserved Cyanin Valley</p>
        </div>
      </div>
    </div>
  </div>
</footer>
