<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<div style="text-align:center">
  <h1>
    欢迎来到 {{ title }}!
  </h1>
</div>
<h2>网站正在建设中~ </h2>
<p>你好哇</p>

<div class="container">
  <div class="row show-grid">
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
  </div>
  <div class="row show-grid">
    <div class="col-md-8">.col-md-8</div>
    <div class="col-md-4">.col-md-4</div>
  </div>
  <div class="row show-grid">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
  </div>
  <div class="row show-grid">
    <div class="col-md-6">.col-md-6</div>
    <div class="col-md-6">.col-md-6</div>
  </div>
  <div class="row show-grid">
    <div class="col-xs-6">.col-xs-6</div>
    <div class="col-xs-6">.col-xs-6</div>
  </div>
  <div class="row show-grid">
    <div class="col-sm-6">.col-sm-6</div>
    <div class="col-sm-6">.col-sm-6</div>
  </div>
  <div class="row show-grid">
    <div class="col-lg-6">.col-lg-6</div>
    <div class="col-lg-6">.col-lg-6</div>
  </div>
  <div class="row show-grid">
    <div class="col-lg-4 col-lg-offset-2">.col-lg-4 .col-lg-offset-2</div>
    <div class="col-lg-2">.col-lg-2</div>
  </div>
  <div class="row show-grid">
    <div class="col-lg-2 col-lg-push-4">.col-lg-2 .col-lg-push-4</div>
    <div class="col-lg-4 col-lg-pull-2">.col-lg-4 .col-lg-pull-2</div>
  </div>
  <div class="row show-grid">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">1</div>
        <div class="col-lg-6">2</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">1</div>
        <div class="col-lg-6">2</div>
      </div>
    </div>
  </div>
</div>

