@import "../../../scss/_variables";
@import "../../../scss/_mixins";

// Switch
.form-switch-wrapper {
  display: inline-block;

  .form-switch {
    $switch-width: 60px;
    $switch-height: $text-size + 0.2rem;

    @include form-control;
    position: relative;
    width: $switch-width;
    height: $switch-height;
    border-radius: $switch-height / 2;
    background: $gray-ddd;
    @include box-shadow(1px 1px 2px 0px rgba($gray-dark, .2) inset);
    cursor: pointer;

    input[type="checkbox"] {
      display: none;
    }

    $switch-btn-width: $switch-width * 0.58;
    .switch {
      width: $switch-btn-width;
      height: 100%;
      border-radius: $switch-height / 2;
      position: absolute;
      left: 0;
      top: -1px;
      z-index: 2;
      @include transition(all, 200ms, ease);
      @include transform(translateX(0));
      background: $gray-999;
      border: 1px solid $gray-999;
      cursor: pointer;
    }

    &.active {
      background: $white;

      .switch {
        @include transform(translateX($switch-width - $switch-btn-width - 3)); // include 3px border
        background: $form-focus-color-base;
        border-color: $form-focus-color-base;
      }
    }
  }
}

